extends layout 

block content 
    form(action="/new", method="post")
        label(for="name") Enter your name   
        input#name(type="text", name="name") 
        label(for="text") Enter the text  
        input#text(type="text", name="text")
        button(type="submit") Submit 